
p{color: #7a7a7a;}

.main-menu li a{color: #B0B0B0;}

.main-menu li > a:focus,

.main-menu li > a:hover{color: #fcbc45;}

.main-menu li > a::after{background: #fcbc45;}

.main-menu .current_page_item > a,

.main-menu .current-menu-ancestor > a{color: #fcbc45;}

.sub-menu li a:hover{background: #252525; color: #fff;}

.sub-menu .current-menu-item a{background: #252525;}

.common-btn{background-color: #fcbc45; color: #252525;}

.common-btn:hover{background-color: #252525;}

.header-btn.sign-btn .common-btn{background-color: #252525;}

.header-btn.sign-btn .common-btn:hover{background-color: #fcbc45;}

.home .header-btn.sign-btn .common-btn{background-color: #fcbc45;color: #252525;}

.home .header-btn.sign-btn .common-btn:hover{background-color:#f9f9f9;}

.home .scrolled .header-btn.sign-btn .common-btn{background-color: #252525;color: #fff;}

.home .scrolled .header-btn.sign-btn .common-btn:hover{background-color: #fcbc45;color: #252525;}

.home .header-btn .header-nav-btn{background-color: #f9f9f9;}

.home .header-btn .header-nav-btn:hover{background-color: #fcbc45;color: #252525;}

.home .scrolled .header-btn .header-nav-btn{background-color: #fcbc45;}

.home .scrolled .header-btn .header-nav-btn:hover{background-color: #252525;color: #fff;}

.home-banner-content .welcome-to-profirm{color:  #fcbc45;}

.cleaning-process-section .cleaning-process{background-color: #f9f9f910;}

.tag {background-color: #fcbc45;color: #252525;}

.home-banner-content p.tag { color: #252525; }

.hero-banner-section{border-color: #fcbc45;}

/* <!-- .home-about-point-icon svg path{fill: ; } --> */

.service-provided-box{background-color: #f9f9f9;}

.service-provided-content a{color: #fcbc45;}

.service-provided-content a svg path{stroke: #fcbc45;}

.service-provided-content a:hover{color: #252525;}

.service-provided-content a:hover svg path{stroke: #252525;}

.cleaning-tips-box{background-color: #f9f9f9;}

.customer-feedback-section{background-color: #f9f9f9;}

.our-service-box{border-color: #252525;}

.book-on-the-go-img img{border-color: #fcbc45;}

.mobile-image-block::before{background-color: #fcbc45;}

.service-provided-box:hover{background-color: #fcbc45;}

.owl-dots .owl-dot.active{background: #fcbc45 !important;}

.rating-bg-img::before{background: #252525;}

.how-work-box .how-work-content:hover{background-color: #fcbc45;}

.work-inner .comapany_rating-title{color: #fcbc45;}

.pricing_box span{color: #252525;}

.pricing_box.bg span{color: #252525;}

.pricing_box.bg h6{color: #252525;}

.pricing_box h6{color: #252525;}

.cta-btn .common-btn{background-color: #fcbc45;}

.faq-section .accordion-item{background-color: #f9f9f9;}

.blog-box-2{background-color: #f9f9f9;}

.blog-date{color: #fcbc45;}

/* <!-- .company-rating-box{background-color: ;} --> */

.bring-space-section{border-color: #fcbc45;}

.why-choose-us{background-color: #f9f9f9;}

.pricing_box{background: #f9f9f9;}

.pricing_box.bg{background: #fcbc45;}

.pricing_box a.booknow{background-color: #252525;}

.pricing_box a.booknow:hover{background: #fcbc45;}

.pricing_box.bg a.booknow:hover{background: #252525;}

.team-section_inner{background-color: #f9f9f9;}

.hmblogsection a:hover{color: #fcbc45;}

.hmblogsection a:hover h3{color: #fcbc45;}

.hmblogsection a:hover svg path{fill: #fcbc45;}

.blog-list-box{border-color: #252525;}

.blog-list-detail .date{color: #252525;}

.blog-list-box:hover{background-color: #fcbc45;}

/* <!-- .photo-gallery-section{background-color: ;} --> */

.image-comparison-main{background: #252525;}

.image-comparison__thumb{background-color: #fcbc45;}

.page-template-contact-us .contact-us-row{background-color: #f9f9f9;}

.contact-detail svg path{fill: #fcbc45;}

/* <!-- .contact a{color: ;} --> */

/* <!-- .cta-content{background-color: ;} --> */

.cta-btn .common-btn:hover{background-color: #252525;}

.eco-friendly-section{background-color: #f9f9f9;}

.service-provided-box.service-highlight-box{background-color: #fcbc45;}

.benifit-include-box{background-color: #f9f9f9;}

.move-in-out-include-list svg circle{fill: #fcbc45;}

.why-choose-service-box{background-color: #f9f9f9;}

.why-choose-service-box .why-choose-service-icon::before{background-color: #fcbc45;}

.table-of-content-div{background-color: #f9f9f9;}

.table-conten-list svg rect{fill: #fcbc45;}

.move-in-out-content{background-color: #f9f9f9;}

.move-in-out-include-list svg path{fill: #fcbc45;}

.owl-nav button svg path{fill: #252525;}

.owl-nav button:hover svg path{fill: #fcbc45;}

.socical-media a:hover svg path{fill: #fcbc45;}

footer{background-color: #252525;}

footer h5{color: #fcbc45;}

footer ul li a:hover{color: #fcbc45;}

footer ul .current_page_item a{color: #fcbc45;}


@media only screen and (max-width: 1199px){
    .header-btn.sign-btn .common-btn, .header-btn.sign-btn .common-btn:hover {
        background-color: transparent;
    }
    .header-btn.sign-btn .fa-user {
        color: #252525;
    }

    .home .header-btn.sign-btn .common-btn, .home .scrolled .header-btn.sign-btn .common-btn {
        background-color: transparent;
    }
    .home .header-btn.sign-btn .fa-user {
        color: #fff;
    }
    .home .scrolled .header-btn.sign-btn .fa-user {
        color: #252525;
    }
} 

@media only screen and (max-width: 991px) {

.home .header-btn.sign-btn .common-btn,

.home .scrolled .header-btn.sign-btn .common-btn{background-color: transparent;}

.home .header-btn.sign-btn .common-btn:hover,

.home .scrolled .header-btn.sign-btn .common-btn:hover{background-color: transparent;}

.header-btn.sign-btn .common-btn,

.header-btn.sign-btn .common-btn:hover{background-color: transparent;}

.header-btn.sign-btn .fa-user{color: #252525;}

.header-btn.sign-btn .common-btn .fa-user:hover{color: #fcbc45;}

.home .header-btn.sign-btn .fa-user{color: #fff;}

.home .scrolled .header-btn.sign-btn .fa-user{color: #252525;}

.home .scrolled .header-btn.sign-btn .fa-user:hover{color: #fcbc45;}

.toggle-icon{background: #fcbc45;}

.toggle-icon::before, .toggle-icon::after{background: #fcbc45;}

.closeMenu .toggle-icon{background: #fcbc45;}

.closeMenu .toggle-icon::before, .closeMenu .toggle-icon::after{background: #fcbc45;}

.main-menu li > a{color: #fff;}

.sub-menu li a:hover{background: transparent;}

.main-menu li > a:focus{color: #fcbc45;}

.main-menu li > a:hover{color: #fcbc45;}

.main-menu .current_page_item > a, .main-menu .current-menu-ancestor > a{color: #fcbc45;}

.sub-menu .current-menu-item a{background: transparent;color: #fcbc45;}

}