@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


@theme {
    --font-sans: "Manrope", sans-serif;
    --container-8xl: 96rem;
    --color-primary: var(--color-primary);
    --color-terrtiary: var(--color-terrtiary);
    --color-secondary: var(--color-secondary);
    --secondary: var(--color-secondary);
    --second-color: color-mix(in srgb, var(--color-primary) 60%, white);
    --color-dark: var(--color-dark);
    --color-orange: var(--color-orange);
    --color-light-green: var(--color-light-green);
    --color-body-text: var(--color-body-text);
}

@import "tailwindcss";

.defaultContent{
    /* =========================
    HEADINGS
  ========================= */

  h1, h2, h3, h4, h5, h6 {
      font-weight: 700;
      line-height: 1.2;
      margin-bottom: 0.5em;
      color: #111;
  }

  h1 { font-size: 2.5rem; }   /* 40px */
  h2 { font-size: 2rem; }     /* 32px */
  h3 { font-size: 1.75rem; }  /* 28px */
  h4 { font-size: 1.5rem; }   /* 24px */
  h5 { font-size: 1.25rem; }  /* 20px */
  h6 { font-size: 1rem; }     /* 16px */

  /* =========================
    PARAGRAPH
  ========================= */

  p {
      margin-bottom: 1rem;
      font-size: 1rem;
      color: #555;
  }

  /* =========================
    LISTS
  ========================= */

  ul, ol {
      margin-bottom: 1rem;
      padding-left: 1.5rem;
  }

  ul {
      list-style-type: disc;
  }

  ol {
      list-style-type: decimal;
  }

  li {
      margin-bottom: 0.5rem;
      line-height: 1.6;
  }

  /* =========================
    STRONG / LINKS (OPTIONAL)
  ========================= */

  strong {
      font-weight: 600;
  }

  a {
      color: var(--color-primary);
      text-decoration: none;
  }
}


body {
    @apply text-sm md:text-base text-body-text;
}

h1 {
    font-size: calc(40px + (56 - 40) * (100vw - 400px) / (1920 - 400));
    line-height: calc(1.2em);
}

h2 {
    font-size: calc(36px + (48 - 36) * (100vw - 400px) / (1920 - 400));
    line-height: calc(1.2em);
}

h3 {
    font-size: calc(30px + (44 - 30) * (100vw - 400px) / (1920 - 400));
}

h4 {
    font-size: calc(24px + (38 - 24) * (100vw - 400px) / (1920 - 400));
}

h5 {
    font-size: calc(28px + (32 - 28) * (100vw - 400px) / (1920 - 400));
}

h6 {
    font-size: calc(20px + (28 - 20) * (100vw - 400px) / (1920 - 400));
}
.container{
    @apply w-full sm:max-w-160 md:max-w-3xl lg:max-w-5xl xl:max-w-295;
}
.kt-btn {
    @apply h-10 px-4 lg:h-12.5 lg:px-7 lg:text-lg font-bold rounded-full;
}

.kt-btn-primary {
    @apply bg-primary text-white;

    &:hover {
        background-color: color-mix(in srgb, var(--color-primary) 80%, black);
    }
}

.kt-btn-white {
    @apply bg-white text-primary;

    &:hover {
        background-color: color-mix(in srgb, var(--color-primary) 80%, black);
    }
}

.kt-btn-g{
    @apply bg-radial-[at_0%_170%] from-secondary via-primary via-72% to-terrtiary; 
    &:hover{
        @apply bg-radial-[at_170%_0%] from-secondary via-primary via-72% to-terrtiary;
    }
}

.kt-btn-secondary {
    @apply bg-secondary text-white border border-transparent;

    &.kt-btn-outline {
        @apply bg-transparent border-secondary;
    }

    &:hover {
        background-color: color-mix(in srgb, var(--color-secondary) 80%, black);
    }
}

.kt-btn-primary-light {
    @apply bg-terrtiary text-primary;

    &:hover {
        background-color: color-mix(in srgb, var(--color-primary-light) 80%, black);
    }
}

.kt-badge-secondary {
    @apply text-white;
}

.kt-input {
    @apply border border-white/20 rounded-[10px] placeholder:text-white/40 placeholder:text-sm h-12 px-5 bg-transparent;
}

.kt-textarea {
    @apply border border-white/20 rounded-[10px] placeholder:text-white/40 placeholder:text-sm px-5 py-2 bg-transparent;
}

.container {
    @apply mx-auto px-4;
}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &.active {
        transform: rotate(45deg);

        .line-top {
            stroke-dashoffset: -68px;
        }

        .line-bottom {
            stroke-dashoffset: -68px;
        }
    }

    .line {
        fill: none;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        stroke: #fff;
        stroke-width: 5.5;
        stroke-linecap: round;

        &.line-top {
            stroke-dasharray: 40 121;
        }

        &.line-bottom {
            stroke-dasharray: 40 121;
        }

        .home & {
            stroke: #fff;
        }

        .home.headerSticky & {
            stroke: #fff;
        }
    }
}





header {
    @apply px-4 lg:px-6 xl:px-8 py-4 lg:py-7 2xl:px-12 transition-all;
    .headerSticky &{
        @apply py-2 lg:py-4 lg:px-3 xl:px-4 2xl:px-6 transition-all;
    }
    .main-menu {
        @apply xl:gap-5 2xl:gap-15 transition-all;
        .headerSticky &{
            @apply xl:gap-4 2xl:gap-7 transition-all;
        }
        li {
            &>a {
                @apply text-[#323A5B];
            }

            &.current-menu-item>a {
                @apply font-semibold text-primary;
            }

            .sub-menu {
                @apply absolute overflow-hidden bg-white hidden text-black rounded-lg shadow-md p-2 z-5;

                li a {
                    @apply block px-4 py-2.5 font-normal text-primary! text-base hover:bg-primary/20 rounded-lg;
                }
            }
        }
    }
}

.mobilemenu {
    >li {
        >a {
            @apply text-white xl:text-xl font-bold block rounded-full justify-between text-sm;
        }
    }

    .sub-menu {
        @apply flex flex-col gap-2 mt-2;

        >li>a {
            @apply text-white text-base pl-3 block;
        }
    }
}

.editerData {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply text-black my-5;
    }

    p {
        @apply mb-2;
    }

    ul {
        @apply list-disc pl-6 mb-3;
    }
}

.owl-carousel {
    .owl-stage {
        display: flex;
    }

    button.owl-dot {
        @apply size-12 relative mx-1 flex items-center justify-center before:size-2 before:border before:border-primary before:rounded-full before:absolute before:top-1/2 before:left-1/2 before:transition-all before:-translate-x-1/2 before:-translate-y-1/2;
        span{
            @apply size-2 bg-primary block rounded-full;
        }
        &.active {
            @apply before:transition-all before:size-12;
        }
    }

    .owl-dots {
        @apply flex justify-center mt-4;
    }
}


.photo-gallery-slider .owl-item{
    @apply text-center;
    &:nth-child(odd){
        img{
            @apply rounded-full inline-flex;
        }
    }
    &:nth-child(even){
        img{
            @apply rounded-3xl inline-flex;
        }
    }
}
.customer-feedback-slider{
    .owl-item{
        @apply opacity-50;
        &.active.center{
            @apply opacity-100;
        }
    }
    button.owl-dot {
        @apply before:border-white;
        span{
            @apply bg-white;
        }
    }
}

.image-comparison-main .image-comparison-main_title {
    text-align: center;
    margin-bottom: 36px;
}

.image-comparison {
    max-width: 48.063em;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
    overflow: hidden;
}

.image-comparison__slider-wrapper {
    position: relative;
}

.image-comparison__label {
    font-size: 0;
    line-height: 0;
}

.image-comparison__label,
.image-comparison__range {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    cursor: ew-resize;
    z-index: 20;
}

@media (hover) {
    .image-comparison__range:hover~.image-comparison__slider .image-comparison__thumb {
        transform: scale(1.2);
    }
}

.image-comparison .image-comparison__slider-wrapper .image-comparison__range:active~.image-comparison__slider .image-comparison__thumb,
.image-comparison .image-comparison__slider-wrapper .image-comparison__range:focus~.image-comparison__slider .image-comparison__thumb,
.image-comparison .image-comparison__slider-wrapper .image-comparison__range--active~.image-comparison__slider .image-comparison__thumb {
    transform: scale(0.8);
    opacity: 0.5;
}

.image-comparison__image-wrapper--overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(50% + 1px);
    height: 100%;
    overflow: hidden;
}

.image-comparison__figure {
    margin: 0;
}

.image-comparison__figure::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
}

.image-comparison__figure:not(.image-comparison__figure--overlay) {
    position: relative;
    padding-top: 66.666666667%;
}

.image-comparison__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 0 50%;
    object-position: 0 50%;
    overflow: hidden;
}

.image-comparison__figure--overlay .image-comparison__image {
    z-index: 1;
}

.image-comparison__caption {
    position: absolute;
    bottom: 12px;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

@media screen and (max-width: 40.063em) {
    .image-comparison__caption {
        font-size: 12px;
    }
}

.image-comparison__caption--before {
    left: 12px;
    z-index: 2;
}

.image-comparison__caption--after {
    right: 12px;
    text-align: right;
}

.image-comparison__caption-body {
    max-width: 40vmin;
    padding: 6px 12px;
    background-color: rgba(0, 0, 0, 0.55);
    border-radius: 10px;
}

.image-comparison__slider {
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: #fff;
    transition: background-color 0.3s ease-in-out;
    z-index: 10;
}

.image-comparison__range--active~.image-comparison__slider {
    background-color: rgba(255, 255, 255, 0);
}

.image-comparison__thumb {
    @apply bg-primary;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 22px 0 rgba(0, 0, 0, 0.5);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.image-comparison__range::-webkit-slider-runnable-track {
    width: 40px;
    height: 40px;
    opacity: 0;
}

.image-comparison__range::-moz-range-thumb {
    width: 40px;
    height: 40px;
    opacity: 0;
}

.image-comparison__range::-webkit-slider-thumb {
    width: 40px;
    height: 40px;
    opacity: 0;
}

.image-comparison__range::-ms-fill-lower {
    background-color: transparent;
}

.image-comparison__range::-ms-track {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: transparent;
    outline: none;
    cursor: col-resize;
}

.image-comparison__range::-ms-thumb {
    width: 0.5%;
    height: 100%;
    opacity: 0;
}

.image-comparison__range::-ms-tooltip {
    display: none;

}


.owl-carousel .owl-nav button {
    &.owl-next {
        @apply text-white!;
    }

    &.owl-prev {
        @apply text-white!;
    }
}

iframe{
	display:block !important;
	pointer-events: auto !important;
	opacity: 1 !important;
    visibility: visible !important;
    absolute:static !important;
}
@media (max-width: 767.98px) {
    .table-header{
        display: none;
    }
    
    .services-checklist-inner .kt-accordion-content{
        table{
            tr{
                @apply flex flex-wrap;
                td{
                    @apply text-center before:content-[attr(data-title)] flex before:block before:text-sm flex-wrap items-center w-auto gap-2.5 border-0 first-of-type:w-full first-of-type:pb-0 first-of-type:before:hidden last-of-type:border-r-[#D9D9D9];
                }
            }
        }
    }
}